<div class="msg msg-assistant">
    <div class="sender">Assistant</div>
    <div>{{ assistant_message.content | markdown | safe }}</div>

    {% if documents %}
    <details class="sources-details">
        <summary>📄 Sources</summary>

        {% for doc in documents %}
        <div class="source-block">
            <div class="metadata-inline">
                {% for key, value in doc.metadata.items() if value %}
                    <span class="pair">
                        <strong>{{ key | replace('_', ' ') | title }}:</strong>
                        {{ value | urlize}}
                    </span>
                {% endfor %}
            </div>

            <div class="sources-text">
                {{ doc.document | safe }}
            </div>

            <div class="doc-divider"></div>
        </div>
        {% endfor %}

    </details>
    {% endif %}

</div>