{% for msg in messages %}
    {% if msg.message.role in ["user", "assistant"] %}
        <div class="msg">
            <div class="{{ msg.message.role }}">{{ msg.message.role.capitalize() }}:</div>
            <div>{{ (msg.message.content or "") | markdown | safe }}</div>
            {% if msg.documents %}
                <div>
                    {% for doc in msg.documents %}
                        {{ doc.document }}
                        {{ doc.metadata }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}

<form
    hx-post="/chat"
    hx-target="#chat-box"
    hx-swap="innerHTML"
    hx-indicator="#status"
>
    <input type="hidden" name="chat_id" value="{{ chat_id }}">
    <textarea 
    name="prompt" 
    required 
    rows="3" 
    style="width: 100%; font-size: 1rem;"
></textarea>

    <button type="submit">Send prompt</button>
</form>