<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

</head>

<body>

<div class="main">
        <h2>Select a chat:</h2>
        {% for chat in chats %}
            {% if chat[0] %}
                <a href="{{ request.url_for('individual_chat', chat_id=chat[0], user_name=user_name) }}">{{ chat[1] }}</a>
            {% else %}
                <p>No chats to display.</p>
            {% endif %}
        {% endfor %}
    </div>

</body>
</html>

